body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    padding: 20px;
}

.header {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background: #1e293b;
    color: white;
}

button:hover {
    background: #334155;
}

.table-container {
    overflow-x: auto;
    border: 1px solid #334155;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #1e293b;
}

thead {
    background: #334155;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #334155;
    font-size: 13px;
}

th {
    color: #38bdf8;
}

tr:hover {
    background: #273449;
}

.ok {
    color: #22c55e;
    font-weight: bold;
}

.fail {
    color: #ef4444;
    font-weight: bold;
}

.warn {
    color: #f59e0b;
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

#pageInfo {
    font-size: 14px;
}